@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css');
@import url('https://fonts.googleapis.com/css?family=Fredoka:700,500,600|Inter:700,500,800');
@import url('https://px.animaapp.com/6434ca68b554a88d84c00201.6434ca6af5b10d7d964578b2.9U7gJke.hcp.png');

.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.valign-text-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

input:focus {
  outline: none;
}

* {
  box-sizing: border-box;
}

.button-5 {
  align-items: center;
  background-color: var(--shakespeare);
  border-radius: 12px;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  height: 90px;
  justify-content: center;
  left: 226px;
  padding: 0px 16px;
  position: absolute;
  top: 883px;
  width: 300px;
}

.label {
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.dark-mode {
  color: var(--robins-egg-blue);
  font-family: var(--font-family-fredoka);
  font-size: var(--font-size-xl);
  font-weight: 500;
  left: 1020px;
  letter-spacing: 0;
  line-height: 54px;
  position: absolute;
  top: 31px;
  white-space: nowrap;
}

.overlap-group3 {
  align-items: flex-start;
  background-color: var(--alto-2);
  border-radius: 12px;
  display: flex;
  height: 93px;
  left: 304px;
  min-width: 511px;
  padding: 20px 112px;
  position: absolute;
  top: 277px;
}

.enter-minutes {
  color: var(--black);
  font-family: var(--font-family-fredoka);
  font-size: var(--font-size-xxl);
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  min-height: 48px;
  min-width: 256px;
  text-align: center;
}

.overlap-group5 {
  height: 1100px;
  margin-left: 6.5px;
  margin-top: 51px;
  position: relative;
  width: 1150px;
}

.rectangle-1 {
  background-color: var(--alto);
  border-radius: 12px;
  height: 150px;
  left: 117px;
  position: absolute;
  top: 100px;
  width: 880px;
}

.overlap-group2 {
  height: 1103px;
  left: 0;
  position: absolute;
  top: -2px;
  width: 1150px;
}

.keyboard {
  align-items: flex-end;
  display: flex;
  gap: 25px;
  height: 664px;
  left: 127px;
  min-width: 896px;
  position: absolute;
  top: 307px;
}

.flex-row-item {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 29px;
  min-height: 664px;
  width: 203px;
}

.button-3 {
  align-items: center;
  background-color: var(--shakespeare);
  border-radius: 12px;
  box-shadow: 0px 4px 4px #00000040;
  cursor: pointer;
  display: flex;
  height: 110px;
  justify-content: center;
  margin-left: 0;
  padding: 0px 16px;
  position: relative;
  width: 203px;
}

.group-1 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  min-width: 203px;
}

.button-6 {
  align-items: center;
  background-color: var(--shakespeare);
  border-radius: 12px;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  height: 110px;
  justify-content: center;
  padding: 0px 16px;
  position: relative;
  width: 203px;
}

.flex-col-1 {
  align-items: flex-start;
  gap: 29px;
  margin-bottom: 0;
  min-height: 664px;
  width: 206px;
}

.button-4 {
  align-items: center;
  background-color: var(--shakespeare);
  border-radius: 12px;
  box-shadow: 0px 4px 4px #00000040;
  cursor: pointer;
  display: flex;
  height: 110px;
  justify-content: center;
  margin-left: 3.04px;
  padding: 0px 16px;
  position: relative;
  width: 203px;
}

.button-7 {
  align-items: center;
  background-color: var(--shakespeare);
  border-radius: 12px;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  height: 249px;
  justify-content: center;
  padding: 0px 16px;
  position: relative;
  width: 203px;
}

.overlap-group {
  align-items: flex-end;
  background-color: var(--alto);
  border-radius: 12px;
  display: flex;
  height: 165px;
  justify-content: flex-end;
  left: 132px;
  min-width: 892px;
  padding: 41.6px 37.8px;
  position: absolute;
  top: 78px;
}

.x1000 {
  background-color: transparent;
  border: 0;
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxl);
  font-weight: 700;
  height: 73px;
  letter-spacing: 0;
  line-height: normal;
  padding: 0;
  text-align: right;
  width: 197px;
}

.x1000::placeholder {
  color: #00000099;
}

.vector-1 {
  height: 65px;
  left: 0;
  position: absolute;
  top: 1036px;
  width: 1150px;
}

.button-8 {
  align-items: center;
  background-color: var(--robins-egg-blue);
  border-radius: 12px;
  cursor: pointer;
  display: flex;
  height: 60px;
  justify-content: center;
  margin-bottom: 0.04px;
  padding: 0px 16px;
  position: relative;
  width: 208px;
}

.user_avatar {
  height: 110px;
  width: 110px;
}

.overlap-group-1 {
  border-radius: 12px;
  height: 509px;
  margin-top: 147px;
  position: relative;
  width: 505px;
}

.header {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  gap: 16px;
  position: relative;
  width: fit-content;
}

.title-notes {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
  width: fit-content;
}

.text {
  height: 24px;
  left: 16px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 15px;
}

.divider {
  align-self: stretch;
  background-color: var(--gray-nurse);
  height: 1px;
  min-width: 377px;
  position: relative;
}

.task-light-incomplete {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  position: relative;
  width: fit-content;
}

.checkmark-light-incomplete {
  height: 24px;
  min-width: 24px;
  position: relative;
}

.add-prototype-device-type {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: 343px;
}

.do-we-need-a-design-for-the-new-se {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: 343px;
}

.link-design-in-jira {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: 343px;
}

.draw-new-chevron-icon {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: 343px;
}

.do-we-need-a-design-for-the-new-se-1 {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: 343px;
}

.link-design-in-jira-1 {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: 343px;
}

.draw-new-chevron-icon-1 {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: 343px;
}

.flex {
  align-items: flex-start;
  display: flex;
}

.flex-col-3 {
  display: flex;
  flex-direction: column;
}
