/* screen - frame-2-landing-page */

.frame-2-landing-page {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  height: 1750px;
  overflow: hidden;
  width: 1847px;
}

.frame-2-landing-page .group-11 {
  align-items: flex-start;
  display: flex;
  height: 1000px;
  justify-content: center;
  margin-left: -4176px;
  margin-top: -758px;
  min-width: 1130px;
}

.frame-2-landing-page .flex-row {
  align-items: flex-end;
  background-color: var(--white);
  border: 3px solid;
  border-color: #8b81c3;
  border-radius: 12px;
  box-shadow: 2px 6px 8px 3px #00000040;
  display: flex;
  gap: 28px;
  height: 1003px;
  margin-top: -1.5px;
  min-width: 1133px;
  padding: 125.5px 106.5px;
}

.frame-2-landing-page .flex-row-1 {
  align-items: flex-start;
  display: flex;
  gap: 28px;
  height: 604px;
  min-width: 656px;
}

.frame-2-landing-page .button-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 26px;
  min-height: 604px;
  width: 200px;
}

.frame-2-landing-page .button {
  align-items: center;
  background-color: var(--silver);
  border-radius: 12px;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  height: 100px;
  justify-content: center;
  padding: 0px 16px;
  position: relative;
  width: 200px;
}

.frame-2-landing-page .button-1 {
  align-items: center;
  background-color: #8b81c3;
  border-radius: 12px;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  height: 100px;
  justify-content: center;
  padding: 0px 16px;
  position: relative;
  width: 200px;
}

.frame-2-landing-page .flex-col {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 3046px;
  min-height: 1750px;
  width: 1847px;
}

.frame-2-landing-page .vector {
  height: 67px;
  width: 1847px;
}

.frame-2-landing-page .logo {
  height: 100px;
  margin-left: 114.0px;
  margin-top: 189px;
  width: 625px;
}

.frame-2-landing-page .title {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 56.0px;
  margin-top: 199px;
  min-height: 81px;
  width: 731px;
}

.frame-2-landing-page .overlap-group1 {
  align-items: flex-start;
  background-color: var(--alto-2);
  border-radius: 12px;
  display: flex;
  height: 91px;
  justify-content: flex-end;
  margin-left: 55.0px;
  margin-top: 15px;
  min-width: 778px;
  padding: 4px 23px;
}

.frame-2-landing-page .einstein {
  background-color: transparent;
  border: 0;
  color: #777474;
  font-family: var(--font-family-fredoka);
  font-size: var(--font-size-xxxl);
  font-weight: 500;
  height: 81px;
  letter-spacing: 0;
  line-height: normal;
  padding: 0;
  width: 731px;
}

.frame-2-landing-page .einstein::placeholder {
  color: #77747499;
}

.frame-2-landing-page .button-2 {
  align-items: center;
  background-color: var(--shakespeare);
  border-radius: 12px;
  cursor: pointer;
  display: flex;
  height: 90px;
  justify-content: center;
  margin-left: 55.0px;
  margin-top: 63px;
  padding: 0px 16px;
  position: relative;
  width: 208px;
}

.frame-2-landing-page .group-17 {
  height: 257px;
  margin-top: 598px;
  width: 1847px;
}

.frame-2-landing-page .arrow-1 {
  height: 1px;
  margin-left: 8029px;
  margin-top: 3436px;
  width: 531px;
}
