:root { 
  --alto: #d9d9d9;
  --alto-2: #d9d9d980;
  --black: #000000;
  --gray: #808080;
  --gray-nurse: #eaeaea;
  --robins-egg-blue: #00d7ce;
  --scarpa-flow: #575767;
  --shakespeare: #51a8dd;
  --silver: #ccc6c6;
  --titan-white: #f2f2ff;
  --white: #ffffff;
 
  --font-size-l: 30px;
  --font-size-m: 20px;
  --font-size-s: 18px;
  --font-size-xl: 36px;
  --font-size-xs: 15px;
  --font-size-xxl: 40px;
  --font-size-xxxl: 60px;
 
  --font-family-fredoka: "Fredoka", Helvetica;
  --font-family-inter: "Inter", Helvetica;
}
.fredoka-medium-black-60px {
  color: var(--black);
  font-family: var(--font-family-fredoka);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 500;
}

.fredoka-medium-white-60px {
  color: var(--white);
  font-family: var(--font-family-fredoka);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 500;
}

.fredoka-medium-white-20px {
  color: var(--white);
  font-family: var(--font-family-fredoka);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
}

.fredoka-medium-scarpa-flow-20px {
  color: var(--scarpa-flow);
  font-family: var(--font-family-fredoka);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
}

.fredoka-bold-white-30px {
  color: var(--white);
  font-family: var(--font-family-fredoka);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
}

.fredoka-bold-black-30px {
  color: var(--black);
  font-family: var(--font-family-fredoka);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
}

.inter-extra-bold-black-24px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
}
