* {
  font-family: 'Fredoka', sans-serif;
}

:root {
  --color-lightBlue: #2ea9df;
  --color-blue: #3064e8;
  --color-pink: #9900ff;
  --color-white: white;
  /* NEW  */
  --alto: #d9d9d9;
  --alto-2: #d9d9d980;
  --black: #000000;
  --gray: #808080;
  --gray-nurse: #eaeaea;
  --robins-egg-blue: #00d7ce;
  --scarpa-flow: #575767;
  --shakespeare: #51a8dd;
  --silver: #ccc6c6;
  --titan-white: #f2f2ff;
  --white: #ffffff;

  --font-size-l: 30px;
  --font-size-m: 20px;
  --font-size-s: 18px;
  --font-size-xl: 36px;
  --font-size-xs: 15px;
  --font-size-xxl: 40px;
  --font-size-xxxl: 60px;

  --font-family-fredoka: 'Fredoka', Helvetica;
  --font-family-inter: 'Inter', Helvetica;
}

body {
  /*font-family: "Lato", sans-serif;*/
  background-color: white;
  margin: 0;
  padding: 0;
  /*overflow: hidden;*/
  /*color: #333;*/
}

.container {
  width: 90%;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

nav img {
  height: 50px;
}

#weather-widget {
  font-size: 1.2rem;
}

#music-browser {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #eee;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #00d7ce;
}

.btn {
  /*padding: 12px 24px;*/
  width: 96px;
  height: 42px;
  border-radius: 6px;
  border: none;
}
.display__time-left,
.display__end-time {
  color: #00d7ce;
}

#pauseResume {
  background-color: white;
  color: #00d7ce;
  border-radius: 50px;
  border: 2px solid #00d7ce;
}

h3 {
  color: #00d7ce;
}
/* =============== DARK MODE =============== */

label {
  width: 56px;
  height: 32px;
  position: relative;
  display: block;
  background: #ebebeb;
  border-radius: 200px;
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4),
    0px -5px 15px rgb(255, 255, 255, 0.4);
  cursor: pointer;
  transition: 0.3s;
}

label:after {
  content: '';
  width: 24px;
  height: 24px;
  position: absolute;
  top: 4px;
  left: 5px;
  background: linear-gradient(
    180deg,
    var(--color-lightBlue),
    var(--color-blue)
  );
  border-radius: 180px;
  box-shadow: 0px 5px 10px rgba(0red, 0, 0, 0.2);
  transition: 0.3s;
}

.dark-mode__container input {
  width: 0;
  height: 0;
  visibility: hidden;
}

input:checked + label {
  background: #242424;
}

input:checked + label:after {
  left: 50px;
  transform: translateX(-100%);
  background: linear-gradient(180degm #777, #3a3a3a);
}

label:active:after {
  width: 36px;
}

.dark-mode {
  background-color: #575767;
  color: var(--color-white);
}

.dark-mode body {
  background-color: #222;
  color: var(--color-white);
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 24px;
}

.afterlogo {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
/* =============== POMO TIMER  =============== */

.timer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: white;
  border-radius: 12px;
  border: 2px solid #51a8dd;
  box-shadow: 0px 2px 4px 0px rgb(0, 0, 0, 0.4);
}

.timer__functions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn__timer {
  width: 108px;
  height: 36px;
  margin: 24px 6px;
  border-radius: 50px;
  border: 2px solid white;
  cursor: pointer;
  font-weight: 600;
  font-size: large;
  background: transparent;
  background-color: #51a8dd;
  color: white;
}

.timer__container input {
  border-radius: 12px;
  border: 1px solid white;
  height: 24px;
  width: 100%;
}

#timer-display {
  font-size: 2.4rem;
  font-weight: bold;
  text-align: center;
  color: white;
}

.timer-controls {
  /*display: flex;
  justify-content: center;
  margin-bottom: 20px;*/
}

.timer-control {
  /*background-color: #ddd;
  padding: 15px;
  margin: 0 10px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;*/
}

/* ================ TODO List =============== */

.todo__container {
  border-radius: 12px;
  border: 2px solid black;
  box-shadow: 0px 2px 4px 0px rgb(0, 0, 0, 0.4);
}

.todo__container h1 {
  text-align: left;
}

.todo__inner__container {
}

.newtask {
}

#newtask input {
  width: 75%;
  height: 12px;
  padding: 12px;
  color: #111111;
  position: relative;
  border-radius: 6px;
  font-size: 15px;
  border: 2px solid #d1d3d4;
}

#newtask input:focus {
  outline: none;
  border-color: var(--color-blue);
}

#newtask button {
  padding: 8px 12px;
  /*border-radius: 6px;*/
}

.tasks {
  align-items: center;
  border-radius: 10px;
  border: #d1d3d4;
  width: 90%;
}

.task {
  background: #d1d3d4;
  padding: 12px;
  border-radius: 6px;
  margin: 10px 0;
}

.task span {
  /*font-size: 15px;
  font-weight: 400;*/
}

.task button {
}

/* DEADLINE */
#new_deadline input {
  width: 75%;
  height: 12px;
  padding: 12px;
  color: #111111;
  position: relative;
  border-radius: 6px;
  font-size: 15px;
  border: 2px solid #d1d3d4;
}

#new_deadline input:focus {
  outline: none;
  border-color: var(--color-blue);
}

#new_deadline button {
  padding: 8px 12px;
  /*border-radius: 6px;*/
}

.recommendations {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
  box-sizing: border-box;
}

.btn__recommendation {
  width: 96px;
  height: 42px;
  border-radius: 6px;
  border: none;
  margin: 0 10px;
  cursor: pointer;
  font-weight: bold;
  background-color: #00d7ce;
  color: white;
}

/*=======  GRIDS ========*/

.left__container {
  display: grid;
  grid-template-rows: 2fr 1fr;
}

.right__container {
  display: grid;
  grid-template-rows: repeat(2) 1fr;
  gap: 12px;
}

.right__container div {
  width: 100%;
  /*background: lightblue;*/
}

.tools {
}

/* =============== NOTEPAD ==============*/

.notepad__container {
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0px 2px 4px 0px rgb(0, 0, 0, 0.4);
}

.notepad__container h1 {
  text-align: center;
}

textarea {
  width: 400px;
  height: 300px;
  margin-top: 20px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  resize: none;
}

.notepad__btn {
  display: block;
  margin: 20px auto 0;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: var(--color-lightBlue);
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.notepad__btn:hover {
  background-color: var(--color-blue);
}

/* =============== CALCULATOR =============== */

.bottom__container {
  height: 90vh;
  width: 99vw;
  display: grid;
  place-items: center;
}

.calculator {
  position: relative;
  height: auto;
  width: auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 30px #000;
}

.theme-toggler {
  position: absolute;
  top: 30px;
  right: 30px;
  color: #fff;
  cursor: pointer;
  z-index: 1;
}

.theme-toggler.active {
  color: #333;
}

.theme-toggler.active::before {
  background-color: #fff;
}

.theme-toggler::before {
  content: '';
  height: 30px;
  width: 30px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #333;
  z-index: -1;
}

#display {
  margin: 0 10px;
  height: 150px;
  width: auto;
  max-width: 270px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 30px;
  margin-bottom: 20px;
  overflow-x: scroll;
}

#display::-webkit-scrollbar {
  display: block;
  height: 3px;
}

.calculator button {
  height: 60px;
  width: 60px;
  border: 0;
  border-radius: 30px;
  margin: 5px;
  font-size: 20px;
  cursor: pointer;
  transition: all 200ms ease;
}

.calculator button:hover {
  transform: scale(1.1);
}

.calculator button#equal {
  height: 130px;
}

/* light theme */

.calculator {
  background-color: #fff;
}

.calculator #display {
  color: #0a1e23;
}

.calculator button#clear {
  background-color: #ffd5d8;
  color: #fc4552;
}

.calculator button.btn-number {
  background-color: #c3eaff;
  color: #000000;
}

.calculator button.btn-operator {
  background-color: #ffd0fb;
  color: #f967f3;
}

.calculator button.btn-equal {
  background-color: #adf9e7;
  color: #000;
}

/* dark theme */

.calculator.dark {
  background-color: #071115;
}

.calculator.dark #display {
  color: #f8fafb;
}

.calculator.dark button#clear {
  background-color: #2d191e;
  color: #bd3740;
}

.calculator.dark button.btn-number {
  background-color: #1b2f38;
  color: #f8fafb;
}

.calculator.dark button.btn-operator {
  background-color: #2e1f39;
  color: #aa00a4;
}

.calculator.dark button.btn-equal {
  background-color: #223323;
  color: #ffffff;
}
